<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootmybatisgenerator.dao.mapper.SpSchoolMapper">
  <resultMap id="BaseResultMap" type="com.example.springbootmybatisgenerator.dao.entity.SpSchool">
    <id column="school_id" jdbcType="VARCHAR" property="schoolId" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="test_date" jdbcType="VARCHAR" property="testDate" />
  </resultMap>
  <sql id="Base_Column_List">
    school_id, school_name, status, gmt_create, gmt_modify, test_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sp_school
    where school_id = #{schoolId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sp_school
    where school_id = #{schoolId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.springbootmybatisgenerator.dao.entity.SpSchool">
    insert into sp_school (school_id, school_name, status, 
      gmt_create, gmt_modify, test_date
      )
    values (#{schoolId,jdbcType=VARCHAR}, #{schoolName,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, #{testDate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.springbootmybatisgenerator.dao.entity.SpSchool">
    insert into sp_school
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schoolId != null">
        school_id,
      </if>
      <if test="schoolName != null">
        school_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="testDate != null">
        test_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schoolId != null">
        #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="schoolName != null">
        #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="testDate != null">
        #{testDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springbootmybatisgenerator.dao.entity.SpSchool">
    update sp_school
    <set>
      <if test="schoolName != null">
        school_name = #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="testDate != null">
        test_date = #{testDate,jdbcType=VARCHAR},
      </if>
    </set>
    where school_id = #{schoolId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springbootmybatisgenerator.dao.entity.SpSchool">
    update sp_school
    set school_name = #{schoolName,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      test_date = #{testDate,jdbcType=VARCHAR}
    where school_id = #{schoolId,jdbcType=VARCHAR}
  </update>
</mapper>